<!-- <div class="container">
  <h5>Category</h5>
  <div class="my-3" #categori>
    <div class="form-check form-check-inline" >
      <input class="form-check-input" type="checkbox">
      <label class="form-check-label"></label>
    </div>
  </div>

  <h5>Amount</h5>
  <div class="my-3">
    <div class="row g-2">
      <div class="col-md">
        <div class="form-floating">
          MIN
          <input type="number" class="form-control leng" #min>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          MAX
          <input type="number" class="form-control leng" #max>
        </div>
      </div>
    </div>
  </div>

  <div class="my-3">
    <h5>Date</h5>
    <div class="row g-2">
      <div class="col-md">
        <div class="form-floating">
          FROM
          <input type="date" class="form-control leng" #firsDate>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          TO
          <input type="date" class="form-control leng" #endDate>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="card" id="global" (click)="log()">
  <div *ngFor="let element of transacciones">
    <div class="card-header">
      <div class="fecha">
        <h3>{{element.date | date:'d'}}</h3>
      </div>
      <div class="content">
        <p>{{element.date | date:'EEEE'}}</p>
        <h6>{{element.date | date:'MMMM, y'}}</h6>
      </div>
      <div class="dinero">
        <h5 class="">suma</h5>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="icon">
          <i class="fa fa-bank" *ngIf="element.icon=='bank'"></i>
          <i class="fa-solid fa-money-bill" *ngIf="element.icon=='bill'"></i>
          <i class="fa fa-shopping-cart" *ngIf="element.icon=='cart'"></i>
          <i class="fa fa-car" *ngIf="element.icon=='car'"></i>
          <i class="fa-solid fa-school" *ngIf="element.icon=='education'"></i>
          <i class="fa-solid fa-gamepad" *ngIf="element.icon=='game'"></i>
        </div>
        <div class="content">
          <h4>{{element.name}}</h4>
          <span class="fs-12">{{element.notes}}</span>
        </div>
        <div class="precio">
          <h5 class="">{{element.amount | currency:'USD'}}</h5>
        </div>
      </li>
    </ul>
  </div>
</div>
